.tours {
  margin: 6rem 0;
}

.heading {
  text-align: center;
  text-transform: capitalize;
  padding-top: 6rem;
  font-size: 4rem;
}

.blue-line {
  width: 10rem;
  height: 4px;
  margin: 0 auto;
  background-color: var(--clr-primary-5);
}

.btn-refresh {
  border: none;
  outline: none;
  background-color: var(--clr-primary-5);
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: inherit;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  display: block;
  margin: 3rem auto 0;
  cursor: pointer;
}
